.wrapper {
  height: 63px;
  padding: 0px 19px 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
}

.counterWrapper {
  position: relative;
}

.counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 19px;
  width: 13px;
  height: 13px;
  background: #f97369;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  line-height: normal;
  color: white;
}
